/*general rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

/*Body color*/
body{
    background-color: rgb(223, 220, 220);
}

/* Logo */
header{
    background-color: white;
}

/* Title */
#logo{
    height: 100px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logotext{
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

/* Add Rules */
#addgeneral{
    background-color: white;
    width:80%;
    margin: 5px auto;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#addtask{
    background-color: rgba(41, 41, 240, 0.867);
    color: white;
    border: 0;
    padding: 7px;
    border-radius: 10%;
}

#addsection{
    color: gray;
    border: solid 1px gray;
    padding: 7px;
    border-radius: 10%;
}

/* Main general rules */
#general{
    background-color: white;
    width:80%;
    margin: 5px auto;
    padding-top: 20px;
    padding-left: 40px;
}

h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

div{
    padding-bottom: 15px;
}


/* Section New Task */
#arrow{
    font-size: 50%;
}

.check{
    color:rgb(17, 205, 17) ;
    border: solid 1px;
    border-color: rgb(17, 205, 17);
    border-radius: 100%;   
}

.notcheck{
    color:rgb(205, 17, 17);
    border: solid 1px;
    border-color: rgb(205, 17, 17);
    border-radius: 100%;
}

.edit{
    background-color: rgba(41, 41, 240, 0.867);
    color: white;
    font-size: 7px;
    padding: 5px 5px;    
    border-radius: 30%
}

/*Section Today*/
.Q1{
    background-color: rgb(190, 32, 190);
    color: white;
    font-size: 7px;
    padding: 5px 5px;    
    border-radius: 30%
}

.recruiting{
    background-color: rgb(23, 151, 68);
    color: white;
    font-size: 7px;
    padding: 5px 5px;    
    border-radius: 30%;
}

.mobile{
    background-color: rgb(190, 88, 4);
    color: white;
    font-size: 7px;
    padding: 5px 5px;    
    border-radius: 30%;
}

.website{
    background-color: rgb(241, 10, 141);
    color: white;
    font-size: 7px;
    padding: 5px 5px;    
    border-radius: 30%;
}

.sales{
    background-color: rgb(173, 221, 15);
    color: white;
    font-size: 7px;
    padding: 5px 5px;    
    border-radius: 30%;
}